Source: opensmtpd-extras
Section: mail
Priority: extra
Maintainer: Ryan Kavanagh <rak@debian.org>
Build-Depends: debhelper (>= 9)
 , autoconf
 , automake
 , libasr-dev
 , libevent-dev
 , libhiredis-dev
 , libmysqlclient-dev
 , libpq-dev
 , libsqlite3-dev
 , libssl1.0-dev
 , libtool
Standards-Version: 3.9.7
Homepage: https://opensmtpd.org/
Vcs-Git: https://anonscm.debian.org/git/collab-maint/opensmtpd-extras.git
Vcs-Browser: https://anonscm.debian.org/gitweb/?p=collab-maint/opensmtpd-extras.git;a=summary

Package: opensmtpd-extras
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 , opensmtpd
Breaks: opensmtpd (<< 5.7.3p1)
Replaces: opensmtpd (<< 5.7.3p1)
Enhances: opensmtpd
Description: addons for the OpenSMTPD SMTP server
 This package provides a subset of addons for OpenSMTPD, including
 experimental ones. Please see each for a description of additional
 dependencies.
  * Tables:
    + ldap: support lookup against LDAP
    + mysql: support lookup against MySQL
    + passwd: support lookup in passwd-format tables
    + postgres: support lookup against PostgreSQL
    + redis: support lookup against a Redis server 
    + socketmap: support lookups against sockets
    + sqlite: support lookup in SQLite tables

Package: opensmtpd-extras-experimental
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
 , opensmtpd
Breaks: opensmtpd (<< 5.7.3p1), opensmtpd-extras (<< 5.7.1-3)
Replaces: opensmtpd (<< 5.7.3p1), opensmtpd-extras (<< 5.7.1-3)
Enhances: opensmtpd
 , opensmtpd-extras
Suggests: clamav-daemon
 , spamassassin
Description: experimental addons for the OpenSMTPD SMTP server
 This package provides experimental addons for OpenSMTPD. Using these may
 cause your OpenSMTPD installation to become unstable, insecure, or worse.
 Proceed with caution!
 .
 Please see each for a description of additional dependencies.
  * Filters: 
    + clamav: filter mail through clamd [clamav-daemon]
    + dkim-signer: add DKIM signatures to headers
    + dnsbl: perform DNSBL checks
    + monkey: randomly accept mail with a probability of 70%
    + pause: pause on new connections to avoid "slamming" attacks
    + regex: filter mail using regex
    + spamassassin: filter mail through SpamAssassin's spamd [spamassassin]
    + trace: trace SMTP sessions
 This package does not yet provide the language bindings (Python, Perl, Lua,
 etc.) for implementing additional filters.
